body{

    background-color: #f2e9e4;
}

h3{
    color: #E26868;
}

hr{
    border-style: dotted none none none;
    border-width: 4px;
    width: 20%;
    color: #E26868;
}
h2{
    color: #E26868;
}

